--plugin fence
-e yard/fence/hoist.rb
--plugin junk
--plugin relative_markdown_links
--readme tmp/yard-fence/README.md
--charset utf-8
--markup markdown
--output docs
'lib/**/*.rb'
-
'tmp/yard-fence/*.md'
'tmp/yard-fence/*.txt'
